## Titanic Datset
## Predict passenger's survival in titanic accident, given the passenger attributes.

In [ ]:
from sklearn.datasets import fetch_openml
d  = fetch_openml(name="Titanic", as_frame=True, version=1)
df = d["frame"]
print(d['DESCR'])
# df.head(5)

Features description

* pclass    Class (1 = First, 2 = Second, 3 = Third)
* survived  (0 = died, 1 = survived)
* name
* sex
* age
* sibsp (Number of siblings/spouses on board)
* parch (Number of parents/children on board)
* ticket (Ticket Number)
* fare  (Price of the ticket)
* cabin (Cabin Number)
* embarked (Place where passeneger embarked C = Cherbourg; Q = Queenstown; S = Southampton)
* boat (Lifeboat ID if passenger was rescued)
* body (Body ID if passenger died and body was recovered)
* home.dest (Passenger Hometown)

Types of features 
* Categorical (Number or Text)
    * Ordinal
    * Nominal
* Numerical
* Text
    
TBD: What is the type for following features. (choose from above)
* name
* sex
* age
* ticket
* embarked (port of embarkment)
* survived
* parch (number of parents/children aboard)

In [7]:
# Missing Data
## TBD Which features in Titanic dataset have missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   survived   1309 non-null   category
 2   name       1309 non-null   object
 3   sex        1309 non-null   category
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   float64
 6   parch      1309 non-null   float64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   category
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: category(3), float64(6), object(5)
memory usage: 116.7+ KB

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1298,3.0,0,"Wittevrongel, Mr. Camille",male,36.0,0.0,0.0,345771,9.5000,None,S,None,NaN,None
907,3.0,0,"Jussila, Miss. Katriina",female,20.0,1.0,0.0,4136,9.8250,None,S,None,NaN,None
84,1.0,0,"Cumings, Mr. John Bradley",male,39.0,1.0,0.0,PC 17599,71.2833,C85,C,None,NaN,"New York, NY"
1127,3.0,0,"Petroff, Mr. Nedelio",male,19.0,0.0,0.0,349212,7.8958,None,S,None,NaN,None
630,3.0,1,"Andersson, Mr. August Edvard ('Wennerstrom')",male,27.0,0.0,0.0,350043,7.7958,None,S,A,NaN,None
895,3.0,1,"Johnson, Miss. Eleanor Ileen",female,1.0,1.0,1.0,347742,11.1333,None,S,15,NaN,None
799,3.0,0,"Fischer, Mr. Eberhard Thelander",male,18.0,0.0,0.0,350036,7.7958,None,S,None,NaN,None
904,3.0,0,"Jonkoff, Mr. Lalio",male,23.0,0.0,0.0,349204,7.8958,None,S,None,NaN,None
942,3.0,0,"Lahoud, Mr. Sarkis",male,NaN,0.0,0.0,2624,7.2250,None,C,None,NaN,None
477,2.0,0,"Lamb, Mr. John Joseph",male,NaN,0.0,0.0,240261,10.7083,None,Q,None,NaN,None

## ML Ready: Is data ready to be fed to a classification problem?
## TBD: What are 3 main issues that needs to be resolved in data?

In [ ]:
import pandas as pd

def cleaner(df):
  for col_name in df.columns:    
      if df[col_name].dtype.name == 'category': 
        # Convert categorical types
        df[col_name] = df[col_name].cat.codes
      if df[col_name].dtype.name == 'object':
        df = df.drop(columns=[col_name])
  return df

def titanic_cleaner(df):
    df = df.drop(columns = ['body']) 
    return df.dropna()

#TBD Using above 2 naive cleaner functions clean the titanic dataframe

## TBD Split the data into train test (test_size=0.25, random_state=101)

In [ ]:
from sklearn.model_selection import train_test_split

## TBD Apply Logistic Regression

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#TBD Accuracy Score on test set

## What are the top 3 most important features for predicting survival?